/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
li{
	font-weight:20px;
	font-size:30px;
}

#box1{
	background-color: white;
	border-radius:10px;
	padding:30px;
	width:90%;
	margin-left:90px;
	margin-right:90px;
	border: 1px solid black;
}
#box2{
	background-color: white;
	border: 1px solid black;
	border-radius:10px;
	width:600px;
	height:600px;
	margin-left:550px
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding:20px 20px 20px 20px;
	width:100%;
	/* border: 1px solid black; */
}
.player_two{
	background-color: rgb(255, 255, 255);
	width:100%;
	padding:20px 20px 20px 20px;
	/* border: 1px solid black; */
}
